p{
    margin: 0;
    font-family: Roboto,Ariel;
  }
  body
  {
    padding-top: 70px;
    padding-left: 125px;
    margin: 0;
    padding-bottom: 0px;
    background-color: rgb(224, 220, 220);
    padding-right: 24px;

  }