.side-bar
{
  position:fixed;
  bottom:0;
  left: 0;
  top:55px;
  width: 110px;
  background-color: rgb(255, 255, 255);


}
.side-bar-link
{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
   
} 
.side-bar-link:hover
{

    background-color: rgb(235, 231, 231);
    cursor: pointer;
}


    
.side-bar img
{
  height: 30px;
}
.side-bar-div
{
    font-family: Roboto,Ariel ;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width:600px)
{
 .side-bar
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80px;
  flex-direction: column;
}
}

